In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.Builder().appName("Prueba1").getOrCreate()
import pyspark.sql.functions as f

In [2]:
################################################## PREGUNTA 1 ##################################################
df_poutcome = spark.read.csv("poutcome.txt", header=True, sep=':', inferSchema=True)
df_job = spark.read.csv("job.tsv", header=True, sep='\t', inferSchema=True)
df_bank = spark.read.csv("bank.csv", header=True, sep=',', inferSchema=True)
df_education = spark.read.csv("education.txt", header=True, sep=';', inferSchema=True)
df_marital = spark.read.csv("marital.txt", header=True, sep='|', inferSchema=True)
df_contact = spark.read.csv("contact.txt", header=True, sep=',', inferSchema=True)

In [15]:
df_bank.show(2)

+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
| ID|age|job_id|id_marital|id_education|default|balance|housing|loan|id_contact|day|month|duration|campaign|pdays|previous|id_poutcome|target|
+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
|  1| 30|     1|         M|           P|     no|   1787|     no|  no|         C| 19|  oct|      79|       1|   -1|       0|          U|    no|
|  2| 33|     2|         M|           S|     no|   4789|    yes| yes|         C| 11|  may|     220|       1|  339|       4|          F|    no|
+---+---+------+----------+------------+-------+-------+-------+----+----------+---+-----+--------+--------+-----+--------+-----------+------+
only showing top 2 rows

In [26]:
################################################## PREGUNTA 2 ##################################################
## df_bank.select("ID","age","balance").sort("age","balance").show()
df_bank.select("ID","age","balance").orderBy(["age","balance"],ascending=[1,0]).show()

+----+---+-------+
|  ID|age|balance|
+----+---+-------+
|3234| 19|   1169|
|2781| 19|    302|
| 504| 19|    103|
|1901| 19|      0|
|1726| 20|   1191|
|  14| 20|    502|
|1000| 20|    291|
|4153| 21|   6844|
| 111| 21|   2488|
|2047| 21|   1903|
|2290| 21|    681|
|1392| 21|    361|
|2704| 21|    137|
|3363| 21|      6|
| 118| 22|   4111|
|1929| 22|   3472|
|2472| 22|   2488|
| 692| 22|   1161|
|2954| 22|    691|
|1242| 22|    549|
+----+---+-------+
only showing top 20 rows

In [36]:
################################################## PREGUNTA 3 ##################################################
df_bank.filter(df_bank["loan"]=='yes').select("ID","id_marital","target").show()

+---+----------+------+
| ID|id_marital|target|
+---+----------+------+
|  2|         M|    no|
|  4|         M|    no|
| 10|         M|    no|
| 15|         M|    no|
| 16|         M|    no|
| 29|         M|    no|
| 30|         M|    no|
| 49|         S|    no|
| 57|         M|    no|
| 59|         S|    no|
| 60|         D|    no|
| 61|         M|    no|
| 69|         M|    no|
| 78|         S|    no|
| 83|         S|    no|
| 87|         S|    no|
|107|         M|    no|
|113|         M|    no|
|116|         S|   yes|
|118|         S|    no|
+---+----------+------+
only showing top 20 rows

In [52]:
################################################## PREGUNTA 4 ##################################################
df_bank.filter("balance<=800 and (month=='dec' or month=='jul')").select("job_id","duration","campaign").show()

+------+--------+--------+
|job_id|duration|campaign|
+------+--------+--------+
|     2|     148|       1|
|     7|     125|       2|
|     5|     149|       2|
|     4|     554|       3|
|     6|     130|       4|
|     3|     630|       3|
|     3|     268|       2|
|     8|     652|       1|
|     2|     398|       2|
|    10|     435|       3|
|     5|     317|       5|
|     4|     779|       2|
|     6|      32|       3|
|     3|     455|       2|
|     3|     102|       3|
|     1|      92|       1|
|     8|     166|       1|
|     2|     333|       2|
|     4|      97|       6|
|     5|     543|      12|
+------+--------+--------+
only showing top 20 rows

In [103]:
################################################## PREGUNTA 5 ##################################################
df_bank.groupBy("id_education","target").count().show()

+------------+------+-----+
|id_education|target|count|
+------------+------+-----+
|           P|    no|  614|
|           U|   yes|   19|
|           P|   yes|   64|
|           S|    no| 2061|
|           T|    no| 1157|
|           S|   yes|  245|
|           U|    no|  168|
|           T|   yes|  193|
+------------+------+-----+

In [101]:
################################################## PREGUNTA 6 ##################################################
df_bank.groupBy("month").sum("duration").show()

+-----+-------------+
|month|sum(duration)|
+-----+-------------+
|  jun|       134038|
|  aug|       154289|
|  may|       373708|
|  feb|        56765|
|  sep|        11218|
|  mar|         9746|
|  oct|        21824|
|  jul|       191471|
|  nov|       105834|
|  apr|        86246|
|  dec|         8338|
|  jan|        39892|
+-----+-------------+

In [68]:
################################################## PREGUNTA 7 ##################################################
#df_job.show(5)
df_bank.join(df_job, on=["job_id"]).filter("id_contact=='C'").select("job","housing","day").show()

+-------------+-------+---+
|          job|housing|day|
+-------------+-------+---+
|   unemployed|     no| 19|
|     services|    yes| 11|
|   management|    yes| 16|
|   management|     no| 23|
|self-employed|    yes| 14|
|   technician|    yes|  6|
|     services|    yes| 17|
|       admin.|    yes| 17|
|   technician|     no| 13|
|      student|     no| 30|
|  blue-collar|    yes| 29|
|   management|     no| 29|
|   technician|     no| 27|
|       admin.|    yes| 20|
|     services|     no|  7|
|   management|    yes| 18|
|   management|     no| 19|
| entrepreneur|     no|  7|
|    housemaid|     no| 30|
|   management|     no| 20|
+-------------+-------+---+
only showing top 20 rows

In [85]:
################################################## PREGUNTA 8 ##################################################
#df_marital.show(5)
#df_education.show(5)
df_bank.join(df_marital, on=["id_marital"])\
    .join(df_education, on=["id_education"])\
    .filter("marital=='single' and education=='tertiary'")\
    .select("marital","education","age").show()

+-------+---------+---+
|marital|education|age|
+-------+---------+---+
| single| tertiary| 35|
| single| tertiary| 35|
| single| tertiary| 37|
| single| tertiary| 32|
| single| tertiary| 23|
| single| tertiary| 38|
| single| tertiary| 36|
| single| tertiary| 32|
| single| tertiary| 34|
| single| tertiary| 33|
| single| tertiary| 32|
| single| tertiary| 31|
| single| tertiary| 32|
| single| tertiary| 41|
| single| tertiary| 30|
| single| tertiary| 38|
| single| tertiary| 32|
| single| tertiary| 51|
| single| tertiary| 34|
| single| tertiary| 33|
+-------+---------+---+
only showing top 20 rows

In [107]:
################################################## PREGUNTA 9 ##################################################
df_bank.join(df_contact, on=["id_contact"])\
    .filter("target=='no'").groupBy("contact")\
    .count().show()

+---------+-----+
|  contact|count|
+---------+-----+
|  unknown| 1263|
| cellular| 2480|
|telephone|  257|
+---------+-----+

In [104]:
################################################## PREGUNTA 10 ##################################################
df_bank.join(df_job, on=["job_id"])\
    .join(df_education, on=["id_education"])\
    .filter("age>=21 and education<>'unknown'").groupBy("job","education")\
    .sum("balance").show()

+-------------+---------+------------+
|          job|education|sum(balance)|
+-------------+---------+------------+
|      retired|  primary|      219568|
|   management| tertiary|     1397982|
| entrepreneur|secondary|       74018|
|   technician|secondary|      599876|
|      student|secondary|       73404|
|      student| tertiary|       22338|
|       admin.| tertiary|       53718|
|   technician| tertiary|      344274|
|  blue-collar| tertiary|       28626|
|      unknown|secondary|        9832|
|       admin.|secondary|      498984|
|   management|secondary|      145012|
| entrepreneur| tertiary|      188771|
|  blue-collar|secondary|      559942|
|    housemaid|  primary|      103005|
|self-employed|secondary|       88506|
|     services|secondary|      362595|
|   technician|  primary|       38895|
|    housemaid| tertiary|       52636|
|   management|  primary|      104731|
+-------------+---------+------------+
only showing top 20 rows