## Creando Session Spark

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.Builder().appName("Prueba1").getOrCreate()

### Ingesta de Datos

In [2]:
departamentos = spark.read.csv("../data/HR/departamentos.dsv", header=True, sep=';', inferSchema=True)

In [3]:
departamentos.dtypes

[('DEPARTMENT_ID', 'int'),
 ('DEPARTMENT_NAME', 'string'),
 ('MANAGER_ID', 'int'),
 ('LOCATION_ID', 'int')]

In [4]:
departamentos.show()

+-------------+--------------------+----------+-----------+
|DEPARTMENT_ID|     DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+--------------------+----------+-----------+
|           10|      Administration|       200|       1700|
|           20|           Marketing|       201|       1800|
|           30|          Purchasing|       114|       1700|
|           40|     Human Resources|       203|       2400|
|           50|            Shipping|       121|       1500|
|           60|                  IT|       103|       1400|
|           70|    Public Relations|       204|       2700|
|           80|               Sales|       145|       2500|
|           90|           Executive|       100|       1700|
|          100|             Finance|       108|       1700|
|          110|          Accounting|       205|       1700|
|          120|            Treasury|      null|       1700|
|          130|       Corporate Tax|      null|       1700|
|          140|  Control And Credit|      null|       1700|
|          150|Shareholder Services|      null|       1700|
|          160|            Benefits|      null|       1700|
|          170|       Manufacturing|      null|       1700|
|          180|        Construction|      null|       1700|
|          190|         Contracting|      null|       1700|
|          200|          Operations|      null|       1700|
+-------------+--------------------+----------+-----------+
only showing top 20 rows

In [4]:
empleados = spark.read.csv('hdfs://localhost:54310/datos/empleados.csv', header=True, inferSchema=True)

In [5]:
empleados.dtypes

[('EMPLOYEE_ID', 'int'),
 ('FIRST_NAME', 'string'),
 ('LAST_NAME', 'string'),
 ('EMAIL', 'string'),
 ('PHONE_NUMBER', 'string'),
 ('HIRE_DATE', 'string'),
 ('JOB_ID', 'string'),
 ('SALARY', 'int'),
 ('COMMISSION_PCT', 'int'),
 ('MANAGER_ID', 'int'),
 ('DEPARTMENT_ID', 'int')]

In [6]:
empleados.show(10)

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        100|    Steven|     King|   SKING|515.123.4567| 17/06/03|   AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568| 21/09/05|     AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569| 13/01/01|     AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567| 03/01/06|   IT_PROG|  9000|          null|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568| 21/05/07|   IT_PROG|  6000|          null|       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569| 25/06/05|   IT_PROG|  4800|          null|       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560| 05/02/06|   IT_PROG|  4800|          null|       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567| 07/02/07|   IT_PROG|  4200|          null|       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569| 17/08/02|    FI_MGR| 12008|          null|       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169| 16/08/02|FI_ACCOUNT|  9000|          null|       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 10 rows

In [7]:
hist_trabajos = spark.read.csv("../data/HR/historico_trabajos.dsv", header=True, sep='|', inferSchema=True)

In [8]:
hist_trabajos.dtypes

[('EMPLOYEE_ID', 'int'),
 ('START_DATE', 'string'),
 ('END_DATE', 'string'),
 ('JOB_ID', 'string'),
 ('DEPARTMENT_ID', 'int')]

In [9]:
hist_trabajos.show(10)

+-----------+----------+--------+----------+-------------+
|EMPLOYEE_ID|START_DATE|END_DATE|    JOB_ID|DEPARTMENT_ID|
+-----------+----------+--------+----------+-------------+
|        102|  13/01/01|24/07/06|   IT_PROG|           60|
|        101|  21/09/97|27/10/01|AC_ACCOUNT|          110|
|        101|  28/10/01|15/03/05|    AC_MGR|          110|
|        201|  17/02/04|19/12/07|    MK_REP|           20|
|        114|  24/03/06|31/12/07|  ST_CLERK|           50|
|        122|  01/01/07|31/12/07|  ST_CLERK|           50|
|        200|  17/09/95|17/06/01|   AD_ASST|           90|
|        176|  24/03/06|31/12/06|    SA_REP|           80|
|        176|  01/01/07|31/12/07|    SA_MAN|           80|
|        200|  01/07/02|31/12/06|AC_ACCOUNT|           90|
+-----------+----------+--------+----------+-------------+

In [10]:
locaciones = spark.read.csv("../data/HR/locaciones.tsv", header=True, sep='\t', inferSchema=True)

In [11]:
locaciones.dtypes

[('LOCATION_ID', 'int'),
 ('STREET_ADDRESS', 'string'),
 ('POSTAL_CODE', 'string'),
 ('CITY', 'string'),
 ('STATE_PROVINCE', 'string'),
 ('COUNTRY_ID', 'string')]

In [12]:
locaciones.show(10)

+-----------+--------------------+-----------+-------------------+----------------+----------+
|LOCATION_ID|      STREET_ADDRESS|POSTAL_CODE|               CITY|  STATE_PROVINCE|COUNTRY_ID|
+-----------+--------------------+-----------+-------------------+----------------+----------+
|       1000|1297 Via Cola di Rie|      00989|               Roma|            null|        IT|
|       1100|93091 Calle della...|      10934|             Venice|            null|        IT|
|       1200|    2017 Shinjuku-ku|       1689|              Tokyo|Tokyo Prefecture|        JP|
|       1300|     9450 Kamiya-cho|       6823|          Hiroshima|            null|        JP|
|       1400| 2014 Jabberwocky Rd|      26192|          Southlake|           Texas|        US|
|       1500| 2011 Interiors Blvd|      99236|South San Francisco|      California|        US|
|       1600|      2007 Zagora St|      50090|    South Brunswick|      New Jersey|        US|
|       1700|     2004 Charade Rd|      98199|            Seattle|      Washington|        US|
|       1800|     147 Spadina Ave|    M5V 2L7|            Toronto|         Ontario|        CA|
|       1900|     6092 Boxwood St|    YSW 9T2|         Whitehorse|           Yukon|        CA|
+-----------+--------------------+-----------+-------------------+----------------+----------+
only showing top 10 rows

In [13]:
paises = spark.read.csv("../data/HR/paises.csv", header=True, inferSchema=True)

In [14]:
paises.dtypes

[('COUNTRY_ID', 'string'), ('COUNTRY_NAME', 'string'), ('REGION_ID', 'int')]

In [15]:
paises.show(10)

+----------+------------+---------+
|COUNTRY_ID|COUNTRY_NAME|REGION_ID|
+----------+------------+---------+
|        AR|   Argentina|        2|
|        AU|   Australia|        3|
|        BE|     Belgium|        1|
|        BR|      Brazil|        2|
|        CA|      Canada|        2|
|        CH| Switzerland|        1|
|        CN|       China|        3|
|        DE|     Germany|        1|
|        DK|     Denmark|        1|
|        EG|       Egypt|        4|
+----------+------------+---------+
only showing top 10 rows

In [16]:
regiones = spark.read.csv("../data/HR/regiones.txt", header=True, sep='\t', inferSchema=True)

In [17]:
regiones.dtypes

[('REGION_ID', 'int'), ('REGION_NAME', 'string')]

In [18]:
regiones.show(10)

+---------+--------------------+
|REGION_ID|         REGION_NAME|
+---------+--------------------+
|        1|              Europe|
|        2|            Americas|
|        3|                Asia|
|        4|Middle East and A...|
+---------+--------------------+

In [19]:
trabajos = spark.read.csv("../data/HR/trabajos.dsv", header=True, sep=':', inferSchema=True)

In [20]:
trabajos.dtypes

[('JOB_ID', 'string'),
 ('JOB_TITLE', 'string'),
 ('MIN_SALARY', 'int'),
 ('MAX_SALARY', 'int')]

In [21]:
trabajos.show(10)

+----------+--------------------+----------+----------+
|    JOB_ID|           JOB_TITLE|MIN_SALARY|MAX_SALARY|
+----------+--------------------+----------+----------+
|   AD_PRES|           President|     20080|     40000|
|     AD_VP|Administration Vi...|     15000|     30000|
|   AD_ASST|Administration As...|      3000|      6000|
|    FI_MGR|     Finance Manager|      8200|     16000|
|FI_ACCOUNT|          Accountant|      4200|      9000|
|    AC_MGR|  Accounting Manager|      8200|     16000|
|AC_ACCOUNT|   Public Accountant|      4200|      9000|
|    SA_MAN|       Sales Manager|     10000|     20080|
|    SA_REP|Sales Representative|      6000|     12008|
|    PU_MAN|  Purchasing Manager|      8000|     15000|
+----------+--------------------+----------+----------+
only showing top 10 rows

# Uso de Joins

## Inner Join

    // Inner join implicito
    Cuando las claves son iguales:
    df1.join(df2, on=["clave"])
    Cuando las claves no son iguales:
    df1.join(df2, df1("clave1") == df2("clave2"))
    
    // Inner join explicito
    Cuando las claves son iguales:
    df1.join(df2, on=["clave"], how='inner')
    Cuando las claves no son iguales:
    df1.join(df2, df1("clave1") == df2("clave2"), "inner")

In [22]:
tabla_unida = paises.join(regiones, on=["region_id"])

In [23]:
tabla_unida.show(10)

+---------+----------+------------+--------------------+
|REGION_ID|COUNTRY_ID|COUNTRY_NAME|         REGION_NAME|
+---------+----------+------------+--------------------+
|        2|        AR|   Argentina|            Americas|
|        3|        AU|   Australia|                Asia|
|        1|        BE|     Belgium|              Europe|
|        2|        BR|      Brazil|            Americas|
|        2|        CA|      Canada|            Americas|
|        1|        CH| Switzerland|              Europe|
|        3|        CN|       China|                Asia|
|        1|        DE|     Germany|              Europe|
|        1|        DK|     Denmark|              Europe|
|        4|        EG|       Egypt|Middle East and A...|
+---------+----------+------------+--------------------+
only showing top 10 rows

In [24]:
tabla_unida = paises.join(regiones, paises["region_id"] == regiones["region_id"])

In [27]:
tabla_unida.show(10)

+----------+------------+---------+---------+--------------------+
|COUNTRY_ID|COUNTRY_NAME|REGION_ID|REGION_ID|         REGION_NAME|
+----------+------------+---------+---------+--------------------+
|        AR|   Argentina|        2|        2|            Americas|
|        AU|   Australia|        3|        3|                Asia|
|        BE|     Belgium|        1|        1|              Europe|
|        BR|      Brazil|        2|        2|            Americas|
|        CA|      Canada|        2|        2|            Americas|
|        CH| Switzerland|        1|        1|              Europe|
|        CN|       China|        3|        3|                Asia|
|        DE|     Germany|        1|        1|              Europe|
|        DK|     Denmark|        1|        1|              Europe|
|        EG|       Egypt|        4|        4|Middle East and A...|
+----------+------------+---------+---------+--------------------+
only showing top 10 rows

## Left Join

    Cuando las claves son iguales:
    df1.join(df2, on=["clave"], how='left_outer')
    Cuando las claves no son iguales:
    df1.join(df2, df1("clave1") == df2("clave2"), "left_outer")

In [28]:
tabla_unida = paises.join(regiones, on=["region_id"], how='left')

In [29]:
tabla_unida.show()

+---------+----------+------------+--------------------+
|REGION_ID|COUNTRY_ID|COUNTRY_NAME|         REGION_NAME|
+---------+----------+------------+--------------------+
|        2|        AR|   Argentina|            Americas|
|        3|        AU|   Australia|                Asia|
|        1|        BE|     Belgium|              Europe|
|        2|        BR|      Brazil|            Americas|
|        2|        CA|      Canada|            Americas|
|        1|        CH| Switzerland|              Europe|
|        3|        CN|       China|                Asia|
|        1|        DE|     Germany|              Europe|
|        1|        DK|     Denmark|              Europe|
|        4|        EG|       Egypt|Middle East and A...|
|        1|        FR|      France|              Europe|
|        4|        IL|      Israel|Middle East and A...|
|        3|        IN|       India|                Asia|
|        1|        IT|       Italy|              Europe|
|        3|        JP|       Japan|                Asia|
|        4|        KW|      Kuwait|Middle East and A...|
|        3|        ML|    Malaysia|                Asia|
|        2|        MX|      Mexico|            Americas|
|        4|        NG|     Nigeria|Middle East and A...|
|        1|        NL| Netherlands|              Europe|
+---------+----------+------------+--------------------+
only showing top 20 rows

## Rigth Join

    Cuando las claves son iguales:
    df1.join(df2, on=["clave"], how='right')
    Cuando las claves no son iguales:
    df1.join(df2, df1("clave1") == df2("clave2"), "right_outer")

In [116]:
tabla_unida = paises.join(regiones, on=["region_id"], how='right')

In [117]:
tabla_unida.dtypes

[('REGION_ID', 'int'),
 ('COUNTRY_ID', 'string'),
 ('COUNTRY_NAME', 'string'),
 ('REGION_NAME', 'string')]

In [118]:
tabla_unida.show(10)

+---------+----------+--------------------+-----------+
|REGION_ID|COUNTRY_ID|        COUNTRY_NAME|REGION_NAME|
+---------+----------+--------------------+-----------+
|        1|        UK|      United Kingdom|     Europe|
|        1|        NL|         Netherlands|     Europe|
|        1|        IT|               Italy|     Europe|
|        1|        FR|              France|     Europe|
|        1|        DK|             Denmark|     Europe|
|        1|        DE|             Germany|     Europe|
|        1|        CH|         Switzerland|     Europe|
|        1|        BE|             Belgium|     Europe|
|        2|        US|United States of ...|   Americas|
|        2|        MX|              Mexico|   Americas|
+---------+----------+--------------------+-----------+
only showing top 10 rows

## Full Join

    Cuando las claves son iguales:
    df1.join(df2, on=["clave"], how='full_outer')
    Cuando las claves no son iguales:
    df1.join(df2, df1("clave1") == df2("clave2"), "full")

In [119]:
tabla_unida = paises.join(regiones, on=["region_id"], how='full')

In [120]:
tabla_unida.dtypes

[('REGION_ID', 'int'),
 ('COUNTRY_ID', 'string'),
 ('COUNTRY_NAME', 'string'),
 ('REGION_NAME', 'string')]

In [122]:
tabla_unida.show(10)

+---------+----------+--------------+-----------+
|REGION_ID|COUNTRY_ID|  COUNTRY_NAME|REGION_NAME|
+---------+----------+--------------+-----------+
|        1|        BE|       Belgium|     Europe|
|        1|        CH|   Switzerland|     Europe|
|        1|        DE|       Germany|     Europe|
|        1|        DK|       Denmark|     Europe|
|        1|        FR|        France|     Europe|
|        1|        IT|         Italy|     Europe|
|        1|        NL|   Netherlands|     Europe|
|        1|        UK|United Kingdom|     Europe|
|        3|        AU|     Australia|       Asia|
|        3|        CN|         China|       Asia|
+---------+----------+--------------+-----------+
only showing top 10 rows

# Trabajando un dataframe como Tabla de SQL

In [125]:
tabla_unida.createOrReplaceTempView("Tabla1")

In [127]:
spark.sql("Select * from Tabla1").show()

+---------+----------+--------------+--------------------+
|REGION_ID|COUNTRY_ID|  COUNTRY_NAME|         REGION_NAME|
+---------+----------+--------------+--------------------+
|        1|        BE|       Belgium|              Europe|
|        1|        CH|   Switzerland|              Europe|
|        1|        DE|       Germany|              Europe|
|        1|        DK|       Denmark|              Europe|
|        1|        FR|        France|              Europe|
|        1|        IT|         Italy|              Europe|
|        1|        NL|   Netherlands|              Europe|
|        1|        UK|United Kingdom|              Europe|
|        3|        AU|     Australia|                Asia|
|        3|        CN|         China|                Asia|
|        3|        IN|         India|                Asia|
|        3|        JP|         Japan|                Asia|
|        3|        ML|      Malaysia|                Asia|
|        3|        SG|     Singapore|                Asia|
|        4|        EG|         Egypt|Middle East and A...|
|        4|        IL|        Israel|Middle East and A...|
|        4|        KW|        Kuwait|Middle East and A...|
|        4|        NG|       Nigeria|Middle East and A...|
|        4|        ZM|        Zambia|Middle East and A...|
|        4|        ZW|      Zimbabwe|Middle East and A...|
+---------+----------+--------------+--------------------+
only showing top 20 rows

In [128]:
spark.sql("Select * from Tabla1 where Region_id = 1").show()

+---------+----------+--------------+-----------+
|REGION_ID|COUNTRY_ID|  COUNTRY_NAME|REGION_NAME|
+---------+----------+--------------+-----------+
|        1|        BE|       Belgium|     Europe|
|        1|        CH|   Switzerland|     Europe|
|        1|        DE|       Germany|     Europe|
|        1|        DK|       Denmark|     Europe|
|        1|        FR|        France|     Europe|
|        1|        IT|         Italy|     Europe|
|        1|        NL|   Netherlands|     Europe|
|        1|        UK|United Kingdom|     Europe|
+---------+----------+--------------+-----------+

In [42]:
empleados.select("first_name", "department_id","hire_date").sort(["department_id","hire_date"], ascending = [1,0]).show(5)

+----------+-------------+---------+
|first_name|department_id|hire_date|
+----------+-------------+---------+
|  Jennifer|           10| 17/09/03|
|       Pat|           20| 17/08/05|
|   Michael|           20| 17/02/04|
|    Shelli|           30| 24/12/05|
|     Sigal|           30| 24/07/05|
+----------+-------------+---------+
only showing top 5 rows

In [37]:
paises_region = paises.join(regiones, on=["region_id"])

In [41]:
paises_region.select("region_id","region_name","country_name").show()

+---------+--------------------+------------+
|region_id|         region_name|country_name|
+---------+--------------------+------------+
|        2|            Americas|   Argentina|
|        3|                Asia|   Australia|
|        1|              Europe|     Belgium|
|        2|            Americas|      Brazil|
|        2|            Americas|      Canada|
|        1|              Europe| Switzerland|
|        3|                Asia|       China|
|        1|              Europe|     Germany|
|        1|              Europe|     Denmark|
|        4|Middle East and A...|       Egypt|
|        1|              Europe|      France|
|        4|Middle East and A...|      Israel|
|        3|                Asia|       India|
|        1|              Europe|       Italy|
|        3|                Asia|       Japan|
|        4|Middle East and A...|      Kuwait|
|        3|                Asia|    Malaysia|
|        2|            Americas|      Mexico|
|        4|Middle East and A...|     Nigeria|
|        1|              Europe| Netherlands|
+---------+--------------------+------------+
only showing top 20 rows