################################################################################################################################
                                                           Spark SQL - Dataframes
################################################################################################################################

#### Revisamos la Librería en la cual nos encontramos

In [1]:
pwd

u'/home/hduser/Aldo_Chavez'

### Paso 1: Definimos la importación de Variables

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.Builder().appName("Prueba1").getOrCreate()

In [4]:
import pyspark.sql.functions as f

## Generacion de Dataframes

### Importando desde un fichero

#### Desde un Archivo Json

In [5]:
df_json = spark.read.json("../datos/2015-summary.json")

AnalysisException: u'Path does not exist: file:/home/hduser/datos/2015-summary.json;'

In [4]:
df_json.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [5]:
type(df_json)

pyspark.sql.dataframe.DataFrame

### Desde un fichero en CSV

In [13]:
df_csv = spark.read.csv("../datos/2015-summary.csv", header = True, sep = ',')

In [14]:
type(df_csv)

pyspark.sql.dataframe.DataFrame

In [15]:
df_csv.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [25]:
df_csv = spark.read.csv("../datos/2015-summary.csv", header = True)

In [17]:
df_csv.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

## Desde un fichero de texto

In [24]:
df_txt = spark.read.text("../datos/salario.txt")

In [22]:
df_txt.show(5)

+--------------------+
|               value|
+--------------------+
|rank,discipline,y...|
|Prof,B,19,18,Male...|
|Prof,B,20,16,Male...|
|AsstProf,B,4,3,Ma...|
|Prof,B,45,39,Male...|
+--------------------+
only showing top 5 rows

### Desde un fichero parquet

In [16]:
df_parquet = spark.read.parquet("../datos/part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet")

In [17]:
df_parquet.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

### Creacion desde el area de trabajo

In [6]:
df_range = spark.range(100).toDF("number")

In [7]:
df_range.show(5)

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
+------+
only showing top 5 rows

In [3]:
lista_Profes = [('Aldo','Chavez',25,1.67)]
lista_Profes.append(['Andre','Chavez',27,1.68])
lista_Profes

[('Aldo', 'Chavez', 25, 1.67), ['Andre', 'Chavez', 27, 1.68]]

In [4]:
df = spark.createDataFrame(lista_Profes, ['Nombre','Apellido','Edad','Altura'])

In [5]:
df.show()

+------+--------+----+------+
|Nombre|Apellido|Edad|Altura|
+------+--------+----+------+
|  Aldo|  Chavez|  25|  1.67|
| Andre|  Chavez|  27|  1.68|
+------+--------+----+------+

In [11]:
l = [('Alice', 1),('Jose',2)]

In [12]:
spark.createDataFrame(l, ['name', 'age']).collect()

[Row(name=u'Alice', age=1), Row(name=u'Jose', age=2)]

In [8]:
d = [{'name': 'Alice', 'age': 1}]
spark.createDataFrame(d).show()

/home/hduser/spark/python/pyspark/sql/session.py:340: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+---+-----+
|age| name|
+---+-----+
|  1|Alice|
+---+-----+

In [10]:
rdd = sc.parallelize(l)
rdd.collect()
df = spark.createDataFrame(rdd, ['name', 'age'])
df.show()

+-----+---+
| name|age|
+-----+---+
|Alice|  1|
+-----+---+

In [12]:
import pandas as pd
import numpy as np

In [17]:
train = pd.read_csv("data/Morosidad_Train.csv")
train

,ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,2208,33.0,128.0,6.0,3230.00,192.0,2,3.0,2,1,NaN,NaN,NaN,NaN
1,2211,32.0,185.0,7.0,2930.00,217.0,2,1.0,5,1,NaN,NaN,NaN,NaN
2,2212,28.0,NaN,7.0,1883.70,202.0,2,1.0,2,1,NaN,NaN,NaN,NaN
3,2216,56.0,200.0,0.0,850.00,194.0,2,1.0,5,1,NaN,NaN,NaN,NaN
4,2218,32.0,131.0,65.0,3200.00,200.0,2,1.0,2,1,NaN,NaN,NaN,NaN
5,2219,34.0,145.0,6.0,7000.00,196.0,2,5.0,2,1,NaN,NaN,NaN,NaN
6,2226,NaN,114.0,0.0,2171.50,178.0,2,2.0,1,1,NaN,NaN,NaN,NaN
7,2227,27.0,116.0,0.0,800.00,169.0,2,1.0,5,1,NaN,NaN,NaN,NaN
8,2228,26.0,182.0,6.0,3150.00,190.0,4,3.0,5,1,NaN,NaN,NaN,NaN
9,2230,25.0,154.0,1.0,2600.00,189.0,2,1.0,2,1,NaN,NaN,NaN,NaN
10,2233,49.0,203.0,0.0,6350.00,224.0,4,1.0,2,1,NaN,NaN,NaN,NaN
11,2234,49.0,159.0,0.0,3330.00,221.0,2,1.0,5,1,NaN,NaN,NaN,NaN
12,2235,28.0,127.0,0.0,1400.00,177.0,2,1.0,5,1,NaN,NaN,NaN,NaN
13,2236,30.0,137.0,0.0,6000.00,192.0,2,1.0,5,1,NaN,NaN,NaN,NaN
14,2238,45.0,151.0,18.0,1050.00,173.0,2,4.0,5,1,NaN,NaN,NaN,NaN
15,2240,21.0,118.0,0.0,NaN,175.0,4,1.0,5,1,NaN,NaN,NaN,NaN
16,2244,37.0,330.0,8.0,2432.00,174.0,2,3.0,5,1,NaN,NaN,NaN,NaN
17,2247,36.0,257.0,0.0,1400.00,186.0,2,3.0,2,1,NaN,NaN,NaN,NaN
18,2248,32.0,163.0,0.0,3000.00,175.0,2,3.0,5,1,NaN,NaN,NaN,NaN
19,2252,25.0,128.0,0.0,889.98,169.0,2,1.0,5,1,NaN,NaN,NaN,NaN
20,2254,32.0,127.0,0.0,1200.00,175.0,2,1.0,5,1,NaN,NaN,NaN,NaN
21,2258,38.0,151.0,0.0,2000.00,180.0,2,1.0,5,1,NaN,NaN,NaN,NaN
22,2261,26.0,148.0,12.0,2052.84,196.0,2,1.0,2,1,NaN,NaN,NaN,NaN
23,2262,26.0,142.0,21.0,1500.00,178.0,2,3.0,2,1,NaN,NaN,NaN,NaN
24,2263,40.0,130.0,5.0,3486.70,216.0,4,2.0,5,1,NaN,NaN,NaN,NaN
25,2264,30.0,119.0,0.0,2833.55,211.0,2,1.0,5,1,NaN,NaN,NaN,NaN
26,2267,24.0,110.0,0.0,909.03,156.0,2,1.0,5,1,NaN,NaN,NaN,NaN
27,2269,35.0,184.0,0.0,9072.00,210.0,4,3.0,5,1,NaN,NaN,NaN,NaN
28,2270,29.0,147.0,0.0,1500.00,196.0,4,1.0,5,1,NaN,NaN,NaN,NaN
29,2274,23.0,162.0,8.0,1117.60,168.0,4,5.0,5,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4470,1446,38.0,220.0,0.0,24000.00,206.0,2,1.0,5,0,NaN,NaN,NaN,NaN
4471,1451,37.0,283.0,88.0,6000.00,202.0,2,5.0,2,0,NaN,NaN,NaN,NaN
4472,1453,47.0,246.0,106.0,9000.00,205.0,2,1.0,2,0,NaN,NaN,NaN,NaN
4473,1454,30.0,258.0,89.0,10500.00,238.0,4,1.0,4,0,NaN,NaN,NaN,NaN
4474,1455,28.0,132.0,61.0,5100.00,NaN,2,1.0,2,0,NaN,NaN,NaN,NaN
4475,1461,46.0,330.0,90.0,30000.00,196.0,4,1.0,3,0,NaN,NaN,NaN,NaN
4476,1464,38.0,183.0,58.0,8000.00,221.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4477,1465,51.0,157.0,106.0,9000.00,197.0,4,1.0,4,0,NaN,NaN,NaN,NaN
4478,1467,42.0,249.0,107.0,18000.00,238.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4479,1470,37.0,282.0,60.0,19500.00,221.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4480,1473,45.0,217.0,68.0,29180.00,205.0,2,1.0,4,0,NaN,NaN,NaN,NaN
4481,1474,63.0,158.0,91.0,18000.00,218.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4482,1476,36.0,200.0,39.0,19500.00,220.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4483,1477,36.0,210.0,98.0,21300.00,221.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4484,1478,40.0,269.0,87.0,30000.00,224.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4485,1479,49.0,210.0,95.0,27000.00,219.0,2,1.0,2,0,NaN,NaN,NaN,NaN
4486,1481,39.0,210.0,0.0,15000.00,209.0,2,1.0,2,0,NaN,NaN,NaN,NaN
4487,1482,49.0,196.0,33.0,26000.00,222.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4488,1483,34.0,227.0,121.0,15600.00,232.0,4,3.0,5,0,NaN,NaN,NaN,NaN
4489,1485,48.0,210.0,100.0,2100.00,216.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4490,1486,59.0,288.0,0.0,30000.00,207.0,2,1.0,2,0,NaN,NaN,NaN,NaN
4491,1487,55.0,294.0,57.0,9300.00,238.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4492,1488,53.0,148.0,106.0,30000.00,219.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4493,1491,29.0,198.0,94.0,5250.00,214.0,2,1.0,2,0,NaN,NaN,NaN,NaN
4494,1493,32.0,195.0,41.0,7500.00,219.0,2,1.0,2,0,NaN,NaN,NaN,NaN
4495,1494,54.0,510.0,87.0,24000.00,214.0,2,1.0,2,0,NaN,NaN,NaN,NaN
4496,1495,63.0,305.0,99.0,9880.73,219.0,2,5.0,2,0,NaN,NaN,NaN,NaN
4497,1496,48.0,194.0,124.0,23000.00,224.0,4,1.0,2,0,NaN,NaN,NaN,NaN
4498,1497,39.0,245.0,121.0,12450.00,240.0,4,5.0,2,0,NaN,NaN,NaN,NaN
4499,1499,65.0,674.0,38.0,20000.00,238.0,4,5.0,2,0,NaN,NaN,NaN,NaN

In [18]:
type(train)

pandas.core.frame.DataFrame

In [19]:
df_pandas = spark.createDataFrame(train)

In [20]:
type(df_pandas)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pandas.show(10)

+----+----+-----+-------+-------+-----+-------------+----+-----+------+-----------+-----------+-----------+-----------+
|  ID|edad|meses|max_ant|ingreso|score|tipo_vivienda|zona|nivel|riesgo|Unnamed: 10|Unnamed: 11|Unnamed: 12|Unnamed: 13|
+----+----+-----+-------+-------+-----+-------------+----+-----+------+-----------+-----------+-----------+-----------+
|2208|33.0|128.0|    6.0| 3230.0|192.0|            2| 3.0|    2|     1|        NaN|        NaN|        NaN|        NaN|
|2211|32.0|185.0|    7.0| 2930.0|217.0|            2| 1.0|    5|     1|        NaN|        NaN|        NaN|        NaN|
|2212|28.0|  NaN|    7.0| 1883.7|202.0|            2| 1.0|    2|     1|        NaN|        NaN|        NaN|        NaN|
|2216|56.0|200.0|    0.0|  850.0|194.0|            2| 1.0|    5|     1|        NaN|        NaN|        NaN|        NaN|
|2218|32.0|131.0|   65.0| 3200.0|200.0|            2| 1.0|    2|     1|        NaN|        NaN|        NaN|        NaN|
|2219|34.0|145.0|    6.0| 7000.0|196.0|            2| 5.0|    2|     1|        NaN|        NaN|        NaN|        NaN|
|2226| NaN|114.0|    0.0| 2171.5|178.0|            2| 2.0|    1|     1|        NaN|        NaN|        NaN|        NaN|
|2227|27.0|116.0|    0.0|  800.0|169.0|            2| 1.0|    5|     1|        NaN|        NaN|        NaN|        NaN|
|2228|26.0|182.0|    6.0| 3150.0|190.0|            4| 3.0|    5|     1|        NaN|        NaN|        NaN|        NaN|
|2230|25.0|154.0|    1.0| 2600.0|189.0|            2| 1.0|    2|     1|        NaN|        NaN|        NaN|        NaN|
+----+----+-----+-------+-------+-----+-------------+----+-----+------+-----------+-----------+-----------+-----------+
only showing top 10 rows

In [23]:
pdf = pd.DataFrame(np.random.rand(100, 3))
df_pandas = spark.createDataFrame(pdf)
df_pandas.show(5)

+-------------------+--------------------+------------------+
|                  0|                   1|                 2|
+-------------------+--------------------+------------------+
| 0.4917864968216836|   0.842204932479089|0.6553562025033978|
|0.09353820374164656|0.013412510339914974|0.8057698033526446|
|0.22547327227439795|  0.4741230264728803|0.7968413016496748|
|0.47748463519520534| 0.23839316457423787|0.9274139273507594|
| 0.9457946919587453|  0.1714398236017195|0.6114985153621646|
+-------------------+--------------------+------------------+
only showing top 5 rows

In [25]:
columns = ['id', 'dogs', 'cats']
vals = [
     (1, 2, 0),
     (2, 0, 1)
]

df = sqlContext.createDataFrame(vals, columns)

In [27]:
df.show()

+---+----+----+
| id|dogs|cats|
+---+----+----+
|  1|   2|   0|
|  2|   0|   1|
+---+----+----+

In [28]:
df_range_v2 = df_range.sort("number")
df_range_v3 = df_range_v2.where("number < 50")
df_range

NameError: name 'df_range' is not defined

In [12]:
df_range_v3.explain()

== Physical Plan ==
*Sort [number#12L ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(number#12L ASC NULLS FIRST, 200)
   +- *Project [id#9L AS number#12L]
      +- *Filter (id#9L < 50)
         +- *Range (0, 100, step=1, splits=Some(1))

## Inspeccionando la data

In [14]:
df_csv = spark.read.csv("../data/morosidad.csv", header = True, sep = ',')
df_csv.dtypes

[('ID', 'string'),
 ('edad', 'string'),
 ('meses', 'string'),
 ('max_ant', 'string'),
 ('ingreso', 'string'),
 ('score', 'string'),
 ('tipo_vivienda', 'string'),
 ('zona', 'string'),
 ('nivel', 'string')]

In [15]:
df_csv.show(10)

+---+----+-----+-------+-------+-----+-------------+----+-----+
| ID|edad|meses|max_ant|ingreso|score|tipo_vivienda|zona|nivel|
+---+----+-----+-------+-------+-----+-------------+----+-----+
|  1|  28|  122|      9|1115.09|  206|            4|   1|    5|
|  2|  27|  173|     61|   2450|  205|            2|   1|    5|
|  3|  37|  185|      4|   1390|  177|            2|   3|    5|
|  4|  34|  262|     20|   2200|  216|            2|   1|    2|
|  5|  40|  150|     17|  10000|  185|            2|   1|    2|
|  6|  40|  114|      0| 903.88|  173|            2|   3|    5|
|  7|  31|  161|      0|   3800|  192|            2|   1|    5|
|  8|  49|  210|     44|  30000|  203|            4|   1|    3|
|  9|  40|  194|     47|   3680|  204|            2|   1|    5|
| 10|  36|  216|      0|   4000|  175|            2|   4|    2|
+---+----+-----+-------+-------+-----+-------------+----+-----+
only showing top 10 rows

In [16]:
#df_csv["count"] = df_csv["count"].asType("Int")
#df_csv["count"] = df_csv["count"].cast("int")
#df_csv["count"].cast("int")
df_csv = df_csv.withColumn("ingreso", df_csv["ingreso"].cast("double"))

In [17]:
df_csv.dtypes

[('ID', 'string'),
 ('edad', 'string'),
 ('meses', 'string'),
 ('max_ant', 'string'),
 ('ingreso', 'double'),
 ('score', 'string'),
 ('tipo_vivienda', 'string'),
 ('zona', 'string'),
 ('nivel', 'string')]

In [42]:
df_csv.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [33]:
df_csv.schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,IntegerType,true)))

In [34]:
df_csv.head()

Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15)

In [35]:
df_csv.first()

Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15)

In [46]:
df_csv.take(2)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1)]

In [36]:
df_csv.describe()

DataFrame[summary: string, DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: string]

In [52]:
df_csv.columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count']

In [37]:
df_csv.count()

256

In [38]:
df_csv.distinct().count()

256

In [39]:
df_csv.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [40]:
df_range = spark.range(100).toDF("number")
df_range_v2 = df_range.sort("number")
df_range_v3 = df_range_v2.where("number < 50")
df_range

DataFrame[number: bigint]

In [41]:
df_range_v3.explain()

== Physical Plan ==
*Sort [number#344L ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(number#344L ASC NULLS FIRST, 200)
   +- *Project [id#341L AS number#344L]
      +- *Filter (id#341L < 50)
         +- *Range (0, 100, step=1, splits=Some(1))

In [20]:
df_csv = spark.read.csv("../data/2015-summary.csv", header = True, sep = ',', inferSchema='true')
df_csv.dtypes

[('DEST_COUNTRY_NAME', 'string'),
 ('ORIGIN_COUNTRY_NAME', 'string'),
 ('count', 'int')]

In [21]:
df_csv.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

## Clausula SELECT

In [56]:
df_csv.select(concat(df_csv["DEST_COUNTRY_NAME"],f.lit("-"),df_csv["ORIGIN_COUNTRY_NAME"])).show()

+-------------------------------------------------+
|concat(DEST_COUNTRY_NAME, -, ORIGIN_COUNTRY_NAME)|
+-------------------------------------------------+
|                             United States-Rom...|
|                             United States-Cro...|
|                             United States-Ire...|
|                              Egypt-United States|
|                              United States-India|
|                             United States-Sin...|
|                             United States-Gre...|
|                             Costa Rica-United...|
|                             Senegal-United St...|
|                             Moldova-United St...|
|                             United States-Sin...|
|                             United States-Mar...|
|                             Guyana-United States|
|                              Malta-United States|
|                             Anguilla-United S...|
|                             Bolivia-United St...|
|                             United States-Par...|
|                             Algeria-United St...|
|                             Turks and Caicos ...|
|                             United States-Gib...|
+-------------------------------------------------+
only showing top 20 rows

In [66]:
df_csv.select("DEST_COUNTRY_NAME","count").show()

+--------------------+-----+
|   DEST_COUNTRY_NAME|count|
+--------------------+-----+
|       United States|   15|
|       United States|    1|
|       United States|  344|
|               Egypt|   15|
|       United States|   62|
|       United States|    1|
|       United States|   62|
|          Costa Rica|  588|
|             Senegal|   40|
|             Moldova|    1|
|       United States|  325|
|       United States|   39|
|              Guyana|   64|
|               Malta|    1|
|            Anguilla|   41|
|             Bolivia|   30|
|       United States|    6|
|             Algeria|    4|
|Turks and Caicos ...|  230|
|       United States|    1|
+--------------------+-----+
only showing top 20 rows

In [73]:
df_csv.select("DEST_COUNTRY_NAME",df_csv["count"].alias("cuenta")).show()

+--------------------+------+
|   DEST_COUNTRY_NAME|cuenta|
+--------------------+------+
|       United States|    15|
|       United States|     1|
|       United States|   344|
|               Egypt|    15|
|       United States|    62|
|       United States|     1|
|       United States|    62|
|          Costa Rica|   588|
|             Senegal|    40|
|             Moldova|     1|
|       United States|   325|
|       United States|    39|
|              Guyana|    64|
|               Malta|     1|
|            Anguilla|    41|
|             Bolivia|    30|
|       United States|     6|
|             Algeria|     4|
|Turks and Caicos ...|   230|
|       United States|     1|
+--------------------+------+
only showing top 20 rows

In [75]:
df_csv.select("ORIGIN_COUNTRY_NAME", df_csv["count"] + 1).show()

+-------------------+-----------+
|ORIGIN_COUNTRY_NAME|(count + 1)|
+-------------------+-----------+
|            Romania|         16|
|            Croatia|          2|
|            Ireland|        345|
|      United States|         16|
|              India|         63|
|          Singapore|          2|
|            Grenada|         63|
|      United States|        589|
|      United States|         41|
|      United States|          2|
|       Sint Maarten|        326|
|   Marshall Islands|         40|
|      United States|         65|
|      United States|          2|
|      United States|         42|
|      United States|         31|
|           Paraguay|          7|
|      United States|          5|
|      United States|        231|
|          Gibraltar|          2|
+-------------------+-----------+
only showing top 20 rows

In [76]:
df_csv.select("ORIGIN_COUNTRY_NAME", (df_csv["count"] + 1).alias("cuenta")).show()

+-------------------+------+
|ORIGIN_COUNTRY_NAME|cuenta|
+-------------------+------+
|            Romania|    16|
|            Croatia|     2|
|            Ireland|   345|
|      United States|    16|
|              India|    63|
|          Singapore|     2|
|            Grenada|    63|
|      United States|   589|
|      United States|    41|
|      United States|     2|
|       Sint Maarten|   326|
|   Marshall Islands|    40|
|      United States|    65|
|      United States|     2|
|      United States|    42|
|      United States|    31|
|           Paraguay|     7|
|      United States|     5|
|      United States|   231|
|          Gibraltar|     2|
+-------------------+------+
only showing top 20 rows

In [45]:
df_csv.select("ORIGIN_COUNTRY_NAME", "count", (df_csv["count"] > 50).alias("cuenta")).show(5)

+-------------------+-----+------+
|ORIGIN_COUNTRY_NAME|count|cuenta|
+-------------------+-----+------+
|            Romania|   15| false|
|            Croatia|    1| false|
|            Ireland|  344|  true|
|      United States|   15| false|
|              India|   62|  true|
+-------------------+-----+------+
only showing top 5 rows

## Clausula Filter - Where

In [84]:
df_csv.filter(df_csv["count"] > 50).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Ireland|  344|
|    United States|              India|   62|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|    United States|       Sint Maarten|  325|
+-----------------+-------------------+-----+
only showing top 5 rows

In [85]:
df_csv.filter(df_csv["count"] == 62).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|              India|   62|
|    United States|            Grenada|   62|
|          Austria|      United States|   62|
+-----------------+-------------------+-----+

In [22]:
df_csv.filter("count > 50 and count < 100").show(5)

+--------------------+--------------------+-----+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|
+--------------------+--------------------+-----+
|       United States|               India|   62|
|       United States|             Grenada|   62|
|              Guyana|       United States|   64|
|       United States|Federated States ...|   69|
|Federated States ...|       United States|   69|
+--------------------+--------------------+-----+
only showing top 5 rows

In [27]:
df_csv.where((df_csv["DEST_COUNTRY_NAME"]=='United States') & (df_csv.ORIGIN_COUNTRY_NAME=='India')).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|              India|   62|
+-----------------+-------------------+-----+

In [30]:
df_csv.where((df_csv["DEST_COUNTRY_NAME"]=='Egypt') | (df_csv.ORIGIN_COUNTRY_NAME=='India')).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+

In [31]:
df_csv.where((df_csv["DEST_COUNTRY_NAME"]=='Egypt') | ~(df_csv.ORIGIN_COUNTRY_NAME=='India')).show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
|Saint Vincent and...|      United States|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [88]:
df_csv.where(df_csv["count"] == 62).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|              India|   62|
|    United States|            Grenada|   62|
|          Austria|      United States|   62|
+-----------------+-------------------+-----+

In [90]:
df_csv.where(df_csv["count"] > 50).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Ireland|  344|
|    United States|              India|   62|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|    United States|       Sint Maarten|  325|
+-----------------+-------------------+-----+
only showing top 5 rows

In [57]:
df_csv.where("count > 50 and count < 100").show(5)

+--------------------+--------------------+-----+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|
+--------------------+--------------------+-----+
|       United States|               India|   62|
|       United States|             Grenada|   62|
|              Guyana|       United States|   64|
|       United States|Federated States ...|   69|
|Federated States ...|       United States|   69|
+--------------------+--------------------+-----+
only showing top 5 rows

## Group By

In [58]:
df_csv.groupBy("DEST_COUNTRY_NAME").sum("count").show()

+--------------------+----------+
|   DEST_COUNTRY_NAME|sum(count)|
+--------------------+----------+
|            Anguilla|        41|
|              Russia|       176|
|            Paraguay|        60|
|             Senegal|        40|
|              Sweden|       118|
|            Kiribati|        26|
|              Guyana|        64|
|         Philippines|       134|
|            Djibouti|         1|
|            Malaysia|         2|
|           Singapore|         3|
|                Fiji|        24|
|              Turkey|       138|
|                Iraq|         1|
|             Germany|      1468|
|              Jordan|        44|
|               Palau|        30|
|Turks and Caicos ...|       230|
|              France|       935|
|              Greece|        30|
+--------------------+----------+
only showing top 20 rows

In [98]:
df_csv.groupBy("ORIGIN_COUNTRY_NAME").sum("count").show()

+--------------------+----------+
| ORIGIN_COUNTRY_NAME|sum(count)|
+--------------------+----------+
|            Paraguay|         6|
|              Russia|       161|
|            Anguilla|        38|
|             Senegal|        42|
|              Sweden|       119|
|            Kiribati|        35|
|              Guyana|        63|
|         Philippines|       126|
|           Singapore|         1|
|            Malaysia|         3|
|                Fiji|        25|
|              Turkey|       129|
|             Germany|      1336|
|              Jordan|        44|
|               Palau|        31|
|Turks and Caicos ...|       236|
|              France|       952|
|              Greece|        23|
|British Virgin Is...|        80|
|              Taiwan|       235|
+--------------------+----------+
only showing top 20 rows

In [104]:
df_csv.groupBy("ORIGIN_COUNTRY_NAME").avg("count").show()

+--------------------+----------+
| ORIGIN_COUNTRY_NAME|avg(count)|
+--------------------+----------+
|            Paraguay|       6.0|
|              Russia|     161.0|
|            Anguilla|      38.0|
|             Senegal|      42.0|
|              Sweden|     119.0|
|            Kiribati|      35.0|
|              Guyana|      63.0|
|         Philippines|     126.0|
|           Singapore|       1.0|
|            Malaysia|       3.0|
|                Fiji|      25.0|
|              Turkey|     129.0|
|             Germany|    1336.0|
|              Jordan|      44.0|
|               Palau|      31.0|
|Turks and Caicos ...|     236.0|
|              France|     952.0|
|              Greece|      23.0|
|British Virgin Is...|      80.0|
|              Taiwan|     235.0|
+--------------------+----------+
only showing top 20 rows

In [65]:
df_csv.groupBy("ORIGIN_COUNTRY_NAME").agg(f.min("count").alias("Minimo"),f.max("count").alias("Maximo")).show()

+--------------------+------+------+
| ORIGIN_COUNTRY_NAME|Minimo|Maximo|
+--------------------+------+------+
|            Paraguay|     6|     6|
|              Russia|   161|   161|
|            Anguilla|    38|    38|
|             Senegal|    42|    42|
|              Sweden|   119|   119|
|            Kiribati|    35|    35|
|              Guyana|    63|    63|
|         Philippines|   126|   126|
|           Singapore|     1|     1|
|            Malaysia|     3|     3|
|                Fiji|    25|    25|
|              Turkey|   129|   129|
|             Germany|  1336|  1336|
|              Jordan|    44|    44|
|               Palau|    31|    31|
|Turks and Caicos ...|   236|   236|
|              France|   952|   952|
|              Greece|    23|    23|
|British Virgin Is...|    80|    80|
|              Taiwan|   235|   235|
+--------------------+------+------+
only showing top 20 rows

In [112]:
df_csv.groupBy("ORIGIN_COUNTRY_NAME").max("count").show()

+--------------------+----------+
| ORIGIN_COUNTRY_NAME|max(count)|
+--------------------+----------+
|            Paraguay|         6|
|              Russia|       161|
|            Anguilla|        38|
|             Senegal|        42|
|              Sweden|       119|
|            Kiribati|        35|
|              Guyana|        63|
|         Philippines|       126|
|           Singapore|         1|
|            Malaysia|         3|
|                Fiji|        25|
|              Turkey|       129|
|             Germany|      1336|
|              Jordan|        44|
|               Palau|        31|
|Turks and Caicos ...|       236|
|              France|       952|
|              Greece|        23|
|British Virgin Is...|        80|
|              Taiwan|       235|
+--------------------+----------+
only showing top 20 rows

In [119]:
df_csv_2 = df_csv.where("ORIGIN_COUNTRY_NAME in ('Philippines','Malaysia')")
df_csv_2.groupBy("DEST_COUNTRY_NAME").count().show()

+-----------------+-----+
|DEST_COUNTRY_NAME|count|
+-----------------+-----+
|    United States|    2|
+-----------------+-----+

In [115]:
df_csv_2 = df_csv.where("ORIGIN_COUNTRY_NAME in ('Philippines','Malaysia')").show()
df_csv_2 = df_csv.where("ORIGIN_COUNTRY_NAME in ('Philippines','Malaysia')")

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|           Malaysia|    3|
|    United States|        Philippines|  126|
+-----------------+-------------------+-----+

## Clausula Sort

In [120]:
df_csv.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [121]:
df_csv.sort(df_csv["DEST_COUNTRY_NAME"]).show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|             Algeria|      United States|    4|
|              Angola|      United States|   15|
|            Anguilla|      United States|   41|
| Antigua and Barbuda|      United States|  126|
|           Argentina|      United States|  180|
|               Aruba|      United States|  346|
|           Australia|      United States|  329|
|             Austria|      United States|   62|
|          Azerbaijan|      United States|   21|
|             Bahrain|      United States|   19|
|            Barbados|      United States|  154|
|             Belgium|      United States|  259|
|              Belize|      United States|  188|
|             Bermuda|      United States|  183|
|             Bolivia|      United States|   30|
|Bonaire, Sint Eus...|      United States|   58|
|              Brazil|      United States|  853|
|British Virgin Is...|      United States|  107|
|            Bulgaria|      United States|    3|
|        Burkina Faso|      United States|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [122]:
df_csv.sort(df_csv["DEST_COUNTRY_NAME"].desc()).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|           Zambia|      United States|    1|
|        Venezuela|      United States|  290|
|          Uruguay|      United States|   43|
|    United States|            Vietnam|    2|
|    United States|           Portugal|  134|
|    United States|             Cyprus|    1|
|    United States|             Russia|  161|
|    United States|          Singapore|    1|
|    United States|   Marshall Islands|   39|
|    United States|         Costa Rica|  608|
|    United States|           Malaysia|    3|
|    United States|          Guatemala|  318|
|    United States|              Samoa|   25|
|    United States|           Suriname|   34|
|    United States|         Cape Verde|   14|
|    United States|            Jamaica|  712|
|    United States|              China|  920|
|    United States|              India|   62|
|    United States|            Morocco|   19|
|    United States|        Netherlands|  660|
+-----------------+-------------------+-----+
only showing top 20 rows

In [123]:
df_csv.sort(df_csv["DEST_COUNTRY_NAME"].desc(), df_csv["count"]).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|           Zambia|      United States|    1|
|        Venezuela|      United States|  290|
|          Uruguay|      United States|   43|
|    United States|          Gibraltar|    1|
|    United States|            Bahrain|    1|
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
|    United States|           Bulgaria|    1|
|    United States|   Papua New Guinea|    1|
|    United States|         Montenegro|    1|
|    United States|            Namibia|    1|
|    United States|            Georgia|    1|
|    United States|            Estonia|    1|
|    United States|             Cyprus|    1|
|    United States|          Lithuania|    1|
|    United States|              Malta|    2|
|    United States|            Vietnam|    2|
|    United States|          Indonesia|    2|
|    United States|            Liberia|    2|
|    United States|           Malaysia|    3|
+-----------------+-------------------+-----+
only showing top 20 rows

In [125]:
df_csv.sort("count", ascending = False).show()

+------------------+-------------------+------+
| DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+------------------+-------------------+------+
|     United States|      United States|370002|
|     United States|             Canada|  8483|
|            Canada|      United States|  8399|
|     United States|             Mexico|  7187|
|            Mexico|      United States|  7140|
|    United Kingdom|      United States|  2025|
|     United States|     United Kingdom|  1970|
|             Japan|      United States|  1548|
|     United States|              Japan|  1496|
|           Germany|      United States|  1468|
|     United States| Dominican Republic|  1420|
|Dominican Republic|      United States|  1353|
|     United States|            Germany|  1336|
|       South Korea|      United States|  1048|
|     United States|        The Bahamas|   986|
|       The Bahamas|      United States|   955|
|     United States|             France|   952|
|            France|      United States|   935|
|     United States|              China|   920|
|          Colombia|      United States|   873|
+------------------+-------------------+------+
only showing top 20 rows

In [128]:
df_csv.sort(["DEST_COUNTRY_NAME","count"], ascending = [0,1]).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|           Zambia|      United States|    1|
|        Venezuela|      United States|  290|
|          Uruguay|      United States|   43|
|    United States|          Gibraltar|    1|
|    United States|            Bahrain|    1|
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
|    United States|           Bulgaria|    1|
|    United States|   Papua New Guinea|    1|
|    United States|         Montenegro|    1|
|    United States|            Namibia|    1|
|    United States|            Georgia|    1|
|    United States|            Estonia|    1|
|    United States|             Cyprus|    1|
|    United States|          Lithuania|    1|
|    United States|              Malta|    2|
|    United States|            Vietnam|    2|
|    United States|          Indonesia|    2|
|    United States|            Liberia|    2|
|    United States|           Malaysia|    3|
+-----------------+-------------------+-----+
only showing top 20 rows

## Funciones Extras

In [131]:
from pyspark.sql import functions as F

### Clausula When

In [138]:
df_csv.select(df_csv["DEST_COUNTRY_NAME"], F.when(df_csv["count"] < 25, "Menores a 25").otherwise("Mayores a 100")).show()

+--------------------+---------------------------------------------------------------+
|   DEST_COUNTRY_NAME|CASE WHEN (count < 25) THEN Menores a 25 ELSE Mayores a 100 END|
+--------------------+---------------------------------------------------------------+
|       United States|                                                   Menores a 25|
|       United States|                                                   Menores a 25|
|       United States|                                                  Mayores a 100|
|               Egypt|                                                   Menores a 25|
|       United States|                                                  Mayores a 100|
|       United States|                                                   Menores a 25|
|       United States|                                                  Mayores a 100|
|          Costa Rica|                                                  Mayores a 100|
|             Senegal|                                                  Mayores a 100|
|             Moldova|                                                   Menores a 25|
|       United States|                                                  Mayores a 100|
|       United States|                                                  Mayores a 100|
|              Guyana|                                                  Mayores a 100|
|               Malta|                                                   Menores a 25|
|            Anguilla|                                                  Mayores a 100|
|             Bolivia|                                                  Mayores a 100|
|       United States|                                                   Menores a 25|
|             Algeria|                                                   Menores a 25|
|Turks and Caicos ...|                                                  Mayores a 100|
|       United States|                                                   Menores a 25|
+--------------------+---------------------------------------------------------------+
only showing top 20 rows

In [140]:
df_csv.select(df_csv["DEST_COUNTRY_NAME"], F.when(df_csv["count"] < 25, "Menores a 25").when(df_csv["count"] < 50, "Menores a 50").otherwise("Mayores a 100")).show()

+--------------------+---------------------------------------------------------------------------------------------------+
|   DEST_COUNTRY_NAME|CASE WHEN (count < 25) THEN Menores a 25 WHEN (count < 50) THEN Menores a 50 ELSE Mayores a 100 END|
+--------------------+---------------------------------------------------------------------------------------------------+
|       United States|                                                                                       Menores a 25|
|       United States|                                                                                       Menores a 25|
|       United States|                                                                                      Mayores a 100|
|               Egypt|                                                                                       Menores a 25|
|       United States|                                                                                      Mayores a 100|
|       United States|                                                                                       Menores a 25|
|       United States|                                                                                      Mayores a 100|
|          Costa Rica|                                                                                      Mayores a 100|
|             Senegal|                                                                                       Menores a 50|
|             Moldova|                                                                                       Menores a 25|
|       United States|                                                                                      Mayores a 100|
|       United States|                                                                                       Menores a 50|
|              Guyana|                                                                                      Mayores a 100|
|               Malta|                                                                                       Menores a 25|
|            Anguilla|                                                                                       Menores a 50|
|             Bolivia|                                                                                       Menores a 50|
|       United States|                                                                                       Menores a 25|
|             Algeria|                                                                                       Menores a 25|
|Turks and Caicos ...|                                                                                      Mayores a 100|
|       United States|                                                                                       Menores a 25|
+--------------------+---------------------------------------------------------------------------------------------------+
only showing top 20 rows

### Clausula Like

In [49]:
df_csv.select("DEST_COUNTRY_NAME", df_csv["DEST_COUNTRY_NAME"].like("%Egy%")).show()

+--------------------+----------------------------+
|   DEST_COUNTRY_NAME|DEST_COUNTRY_NAME LIKE %Egy%|
+--------------------+----------------------------+
|       United States|                       false|
|       United States|                       false|
|       United States|                       false|
|               Egypt|                        true|
|       United States|                       false|
|       United States|                       false|
|       United States|                       false|
|          Costa Rica|                       false|
|             Senegal|                       false|
|             Moldova|                       false|
|       United States|                       false|
|       United States|                       false|
|              Guyana|                       false|
|               Malta|                       false|
|            Anguilla|                       false|
|             Bolivia|                       false|
|       United States|                       false|
|             Algeria|                       false|
|Turks and Caicos ...|                       false|
|       United States|                       false|
+--------------------+----------------------------+
only showing top 20 rows

### Clausula Startswith - Endswith

In [149]:
df_csv.select("DEST_COUNTRY_NAME", df_csv["DEST_COUNTRY_NAME"].startswith("Uni")).show()

+--------------------+----------------------------------+
|   DEST_COUNTRY_NAME|startswith(DEST_COUNTRY_NAME, Uni)|
+--------------------+----------------------------------+
|       United States|                              true|
|       United States|                              true|
|       United States|                              true|
|               Egypt|                             false|
|       United States|                              true|
|       United States|                              true|
|       United States|                              true|
|          Costa Rica|                             false|
|             Senegal|                             false|
|             Moldova|                             false|
|       United States|                              true|
|       United States|                              true|
|              Guyana|                             false|
|               Malta|                             false|
|            Anguilla|                             false|
|             Bolivia|                             false|
|       United States|                              true|
|             Algeria|                             false|
|Turks and Caicos ...|                             false|
|       United States|                              true|
+--------------------+----------------------------------+
only showing top 20 rows

In [151]:
df_csv.select("DEST_COUNTRY_NAME", df_csv["DEST_COUNTRY_NAME"].endswith("a")).show()

+--------------------+------------------------------+
|   DEST_COUNTRY_NAME|endswith(DEST_COUNTRY_NAME, a)|
+--------------------+------------------------------+
|       United States|                         false|
|       United States|                         false|
|       United States|                         false|
|               Egypt|                         false|
|       United States|                         false|
|       United States|                         false|
|       United States|                         false|
|          Costa Rica|                          true|
|             Senegal|                         false|
|             Moldova|                          true|
|       United States|                         false|
|       United States|                         false|
|              Guyana|                          true|
|               Malta|                          true|
|            Anguilla|                          true|
|             Bolivia|                          true|
|       United States|                         false|
|             Algeria|                          true|
|Turks and Caicos ...|                         false|
|       United States|                         false|
+--------------------+------------------------------+
only showing top 20 rows

### Clausula Substrin

In [50]:
df_csv.select("DEST_COUNTRY_NAME", (df_csv["DEST_COUNTRY_NAME"].substr(2,4)).alias("Nombre_Corto")).show()

+--------------------+------------+
|   DEST_COUNTRY_NAME|Nombre_Corto|
+--------------------+------------+
|       United States|        nite|
|       United States|        nite|
|       United States|        nite|
|               Egypt|        gypt|
|       United States|        nite|
|       United States|        nite|
|       United States|        nite|
|          Costa Rica|        osta|
|             Senegal|        eneg|
|             Moldova|        oldo|
|       United States|        nite|
|       United States|        nite|
|              Guyana|        uyan|
|               Malta|        alta|
|            Anguilla|        ngui|
|             Bolivia|        oliv|
|       United States|        nite|
|             Algeria|        lger|
|Turks and Caicos ...|        urks|
|       United States|        nite|
+--------------------+------------+
only showing top 20 rows

### Clausula Between

In [157]:
df_csv.select("DEST_COUNTRY_NAME", "count", df_csv["count"].between(25,75)).show()

+--------------------+-----+---------------------------------+
|   DEST_COUNTRY_NAME|count|((count >= 25) AND (count <= 75))|
+--------------------+-----+---------------------------------+
|       United States|   15|                            false|
|       United States|    1|                            false|
|       United States|  344|                            false|
|               Egypt|   15|                            false|
|       United States|   62|                             true|
|       United States|    1|                            false|
|       United States|   62|                             true|
|          Costa Rica|  588|                            false|
|             Senegal|   40|                             true|
|             Moldova|    1|                            false|
|       United States|  325|                            false|
|       United States|   39|                             true|
|              Guyana|   64|                             true|
|               Malta|    1|                            false|
|            Anguilla|   41|                             true|
|             Bolivia|   30|                             true|
|       United States|    6|                            false|
|             Algeria|    4|                            false|
|Turks and Caicos ...|  230|                            false|
|       United States|    1|                            false|
+--------------------+-----+---------------------------------+
only showing top 20 rows

### Modificando nombres de columnas

In [158]:
df_csv = df_csv.withColumnRenamed('count', 'cuenta')
df_csv.show()

+--------------------+-------------------+------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|cuenta|
+--------------------+-------------------+------+
|       United States|            Romania|    15|
|       United States|            Croatia|     1|
|       United States|            Ireland|   344|
|               Egypt|      United States|    15|
|       United States|              India|    62|
|       United States|          Singapore|     1|
|       United States|            Grenada|    62|
|          Costa Rica|      United States|   588|
|             Senegal|      United States|    40|
|             Moldova|      United States|     1|
|       United States|       Sint Maarten|   325|
|       United States|   Marshall Islands|    39|
|              Guyana|      United States|    64|
|               Malta|      United States|     1|
|            Anguilla|      United States|    41|
|             Bolivia|      United States|    30|
|       United States|           Paraguay|     6|
|             Algeria|      United States|     4|
|Turks and Caicos ...|      United States|   230|
|       United States|          Gibraltar|     1|
+--------------------+-------------------+------+
only showing top 20 rows

In [162]:
df_csv = df_csv.drop("ORIGIN_COUNTRY_NAME", "count")
df_csv.show()

+--------------------+------+
|   DEST_COUNTRY_NAME|cuenta|
+--------------------+------+
|       United States|    15|
|       United States|     1|
|       United States|   344|
|               Egypt|    15|
|       United States|    62|
|       United States|     1|
|       United States|    62|
|          Costa Rica|   588|
|             Senegal|    40|
|             Moldova|     1|
|       United States|   325|
|       United States|    39|
|              Guyana|    64|
|               Malta|     1|
|            Anguilla|    41|
|             Bolivia|    30|
|       United States|     6|
|             Algeria|     4|
|Turks and Caicos ...|   230|
|       United States|     1|
+--------------------+------+
only showing top 20 rows